<%=	flash_message %>

<h2><%=@project.name%></h2>
<h4><%=@project.description%></h4>
<ul><% @entries.each do |entry| %>
	<li><%= entry.get_string %>
	<%= link_to "Edit", edit_project_entry_path(@project.id, entry.id) %>
	<%= link_to "Delete", project_entry_path(@project, entry), method: :delete, data: {confirm: 'Are you sure?'} %>

	</li>
	<%end%>
</ul>
<p>Total time this month: 
<strong><%= show_time(@project,Time.now) %></strong> </p>

<p><%= link_to("Add new entry",new_project_entry_path)%></p>
<p><%= link_to("<< Back to projects",projects_path)%></p>